<a href="https://colab.research.google.com/github/Mansi2891/quiz-game-/blob/master/task_1ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

STEP-1: LOADING THE DATASET

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# loading the titanic dataset
url = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
titanic_dataset = pd.read_csv(url)

# Display the dataset
print(titanic_dataset.head())

STEP-2: DATA CLEANING - Identify and handle the missing values in the dataset

In [ ]:
# print the columm names to verify the correct column names in your dataset
# print(titanic_dataset_columns)

# fill missing 'Age' values with median
titanic_dataset['Age'].fillna(titanic_dataset['Age']. median(),inplace = True)

#Drop rows with missing 'Embarked'values
# titasic_dataset.dropna(subset=['Embarked], inplace = True)

# verify the changes
print(titanic_dataset.isnull().sum())

STEP-3: DATA TRANSFORMATION - convert categorical value into numerical value

In [ ]:
# convert 'Sex' to numerical values
titanic_dataset ['Sex'] = titanic_dataset['Sex'].map({'male':0, 'female':1})

#titanic_dataset = pd.get_dumies(titanic_data,columns = ['Embarked], drop_first = True)

STEP -3: EXPLORATRY DATA ANALYSIS (EDA)

In [ ]:
#1. Starastical summary
print(titanic_dataset.describe())

In [ ]:
 #visialization
 # Correlation Heatmap
 correlation_matrix = titanic_dataset.corr()
plt.figure(figsize=(10,8))
sns.heatmap(correlation_matrix, annot = True, cmap = 'coolwarm', fmt = ".2f")

plt.title("Correlation Heatmap")
plt.show()

In [ ]:
#3.Surviaval rate analysis by gender
sns.barplot(x='Sex', y='Survived', data =titanic_dataset, palette = 'husl');
plt.xlabel('Sex (0 - Male, 1- Female)')
plt.ylabel('Survival Rate')
plt.title('Survival Rate by Gender')
plt.show()

In [ ]:
#4 . Survival rate by class
sns.barplot(x='Pclass', y='Survived', data=titanic_dataset, palette='pastel')
plt.xlabel('Class')
plt.ylabel('Survival Rate')
plt.title('Survival Rate by Class')
plt.show()

In [ ]:
#5 Histogram for age distribution
plt.subplot(1,2,1)
sns.histplot(titanic_dataset['Age'].dropna(), kde=True, color='skyblue')
plt.xlabel('Age')
plt.title('Age distribution')
plt.show()

In [ ]:
#6 Bivariate Analysis
plt.figure(figsize=(10,5))
plt.show()

In [ ]:
#7 Box plaot for ex survived
sns.boxplot(x='Survived', y='Age', data = titanic_dataset , palette='Set2')
plt.xlabel('Survived')
plt.ylabel('Age')
plt.title('Age distribution by Survival Status')
plt.show()

In [ ]:
#8 count plot for Passenger class distribution
plt.subplot(1,2,2)
sns.countplot(x='Pclass', data=titanic_dataset,palette='pastel')
plt.xlabel('Class')
plt.title('Passenger Class Distribution')

plt.tight_layout()
plt.show()